
<% if current_user %> 
    <p>Hello <%= current_user.email %>!</p>
    <p>you are login madafaka</p>
    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete%>
<% else %>
<%= render "landing" %>
<% end %>