<section class="hero is-info is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-start">
          <a class="navbar-item">
            <span class="icon" style="font-size: 45px; ">
              S
              <i class="fas fa-mountain"></i>
              VE
            </span>
          </a>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon" style="font-size: 30px;" >
                  <i class="fas fa-user-astronaut"></i>
                </span>
                <a class="navbar-item" href="/users/sign_in">Login </a>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-info is-inverted">
                <span class="icon" style="font-size: 30px; ">
                  <i class="fas fa-user-astronaut"></i>
                </span>
                <a class="navbar-item" href="/users/sign_up" >Sing up</a>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Take control of your money now
      </p>
      <p class="subtitle">
        <span  style="font-size: 47px;" >
          <i class="fas fa-file-invoice-dollar"></i>
          <i class="fas fa-wallet"></i>
          <i class="fas fa-money-bill-wave"></i>
          <i class="far fa-bell"></i>
        </span>
      </p>
      
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      
    </nav>
  </div>
</section>
<section class="hero is-link">
  <div class="hero-body">
    <p class="subtitle">
      The perfect soluction to keep accounts of your account
    </p>
  </div>
</section>