<div class="vertical-menu">
  <a href="/" class="active">
    <span class="icon" style="font-size: 20px; ">
    <i class="fas fa-igloo"></i>
    </span>
    HOME
  </a>
  <a href="/balances">Balance</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
 <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class:"button is-link is-light"%>
</div>

<style>
.vertical-menu {
  width: auto;
}

.vertical-menu a {
  background-color: #FDFDFD;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  height: 55px;
}

.vertical-menu a:hover {
  background-color: #5073B8;
}

.vertical-menu a.active {
  background-color: #5073B8;
  color: white;
}
</style>